.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100%;
}

.chatRoot {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: calc(100vh - 180px);
    border: none;
    box-shadow: none;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.chatMessageStream {
    flex-grow: 1;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageUser {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.chatMessageUserMessage {
    padding: 20px;
    background: var(--neutralLight);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-text);
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 800px;
}

.chatMessageGpt {
    margin-bottom: 12px;
    max-width: 80%;
    display: flex;
    color: var(--primary-text);
}

.chatInput {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 10;
}

.clearChatBroom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 12px;
    top: 66px;
    color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 20px;
    z-index: 1;
}

.stopGeneratingContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 4px;
    position: absolute;
    width: 161px;
    height: 32px;
    left: calc(50% - 161px/2 + 25.8px);
    bottom: 116px;
    border: 1px solid var(--neutralLight);
    border-radius: 16px;
    background: var(--body-bg);
}

.stopGeneratingIcon {
    width: 14px;
    height: 14px;
    color: var(--primary-text);
}

.stopGeneratingText {
    width: 103px;
    height: 20px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--primary-text);
    flex: none;
    order: 0;
    flex-grow: 0;
}


.MobileChatContainer {
    @media screen and (max-width: 600px) {
        max-width: 100%;
        margin: 0 auto;
        padding: 8px;

    }
}

.mobileStyles {
    @media screen and (max-width: 600px) {
        max-width: 100%;
        flex-grow: 1;
        max-height: 100vh;
    }
}

.mobileclearChatBroom {
    @media screen and (max-width: 600px) {
        left: -30px;

    }
}

.mobileCitationPanelTitle {
    @media screen and (max-width: 600px) {
        font-weight: 400;
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 8px;

    }
}

.mobileCitationPanelContent {
    @media screen and (max-width: 600px) {
        font-weight: 250;
        font-size: 11px;

    }
}

.mobileCitationPanelDisclaimer {
    @media screen and (max-width: 600px) {
        font-weight: 250;
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-weight: 300;
        font-size: 14px;
    }

    h2 {
        font-weight: 300;
        font-size: 12px;
    }
}

  /* High contrast mode specific styles */
  @media screen and (-ms-high-contrast: active), (forced-colors: active) {
    .chatContainer {
        padding: 10px;
        background-color: Window;
        color: WindowText;
    }
    .chatMessageUserMessage {
        border: 2px solid WindowText;
        padding: 10px;
        background-color: Window;
        color: WindowText;
    }
}
