/* Full-screen overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999; /* Ensure it is above other content */
    backdrop-filter: blur(2px);
}

:global(:root) {
  --overlay-background: rgba(0, 0, 0, 0.4);
  --z-index-overlay: 999999999;
}
